<!-- 引入 jQuery 库 -->
<!-- Load jQuery library -->
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- 引入站点自定义 JS 脚本 -->
<!-- Load custom JavaScript for the site -->
<script type="text/javascript" src="/js/main.js"></script>

{% if site.ga.id %}
<!-- 如果配置了 Google Analytics -->
<!-- If Google Analytics is enabled -->

<script>
    // Google Analytics 初始化代码（官方提供）
    // Google Analytics initialization script (official snippet)
    (function(i,s,o,g,r,a,m){
        // 定义 GA 全局对象
        // Define GA global object
        i['GoogleAnalyticsObject']=r;

        // 如果不存在则创建函数队列
        // Create function queue if not exists
        i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)
        },

        // 记录加载时间
        // Record load timestamp
        i[r].l=1*new Date();

        // 创建 script 标签
        // Create script element
        a=s.createElement(o),

        // 获取第一个 script 标签
        // Get first script tag
        m=s.getElementsByTagName(o)[0];

        // 异步加载 analytics.js
        // Load analytics.js asynchronously
        a.async=1;

        // 设置脚本来源
        // Set script source
        a.src=g;

        // 插入到页面中
        // Insert into DOM
        m.parentNode.insertBefore(a,m)

    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    // 创建 GA 实例（使用 _config.yml 中的 id 和 host）
    // Create GA tracker using config values
    ga('create', '{{site.ga.id}}', '{{site.ga.host}}');

    // 发送页面访问数据
    // Send pageview data
    ga('send', 'pageview');
</script>

{% endif %}